<!-- Navigation -->

<body>


  <!-- Hero Section -->
  <section id="hero">
    <h1 class="let">R</h1>
    <div class="head d-flex justify-content-center align-items-center h-100">


      <h1> <span class="mini_text">Hi, I am</span> Rajesh</h1>
      <h4>Software Developer</h4>

    </div>
    <div class="justify-content-center">

      <nav class="container">
        <a href="#hero"><i class="bi bi-house-fill"></i></a>
        <a href="#about"><i class="bi bi-file-person-fill"></i></a>
        <a href="#"><i class="bi bi-bullseye"></i></a>
        <a href="#services"><i class="bi bi-gear-fill"></i></a>
        <a href="#contact"><i class="bi bi-person-circle"></i></a>
      </nav>
    </div>
  </section>

  <!-- About Section -->
  <div class="container d-flex">
    <section id="about">
      <!-- <h2 class="bgtext">ABOUT</h2> -->
      <h2 class="text-center fw-bold" style="margin-top: 100px;">About Me</h2>

      <div class="about_container">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <img src="/assets/rajeshimg.png" id="rajesh" class="img-fluid rounded-circle" width="150px" height="180px">
            <button class="btn" type="button"><a href="#services">KNOW MORE</a></button>
            <button class="btn" type="button"><a href="#">RESUME </a></button>
          </div> 


          <div class="col-sm-6 col-md-6 col-lg-6">
            <p>I have a passion for solving real-world challenges through technology and continuously learning new
              trends in web development. My experience in healthcare IT has strengthened my skills in data security and
              compliance. Collaboration and teamwork are at the core of my development approach, ensuring seamless
              project execution.<br>
              I am a skilled Full-Stack Developer with hands-on experience in frontend and backend technologies. I
              specialize in Angular and .NET to build dynamic and scalable applications. With a strong background in web
              development, API integration, and database management, I bring innovative solutions to complex problems.
            </p>
          </div>

        </div>
      </div>


      <div class="skill row  text-center  align-items-center">SKILLS </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 grid-item">
          <p class="skill_icon" align="center">
            <img src="https://skillicons.dev/icons?i=html" />
          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 grid-item">
          <p class="skill_icon" align="center">
            <img src="https://skillicons.dev/icons?i=css" />
          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 grid-item">
          <p class="skill_icon" align="center">

            <img src="https://skillicons.dev/icons?i=ts" />

          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 grid-item">
          <p class="skill_icon" align="center">

            <img src="https://skillicons.dev/icons?i=angular" />

          </p>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 grid-item">
          <p class="skill_icon" align="center">

            <img src="https://skillicons.dev/icons?i=cs" />

          </p>
        </div>
        <div class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 grid-item">
          <p class="skill_icon" align="center">

            <img src="https://skillicons.dev/icons?i=dotnet" />

          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 grid-item">
          <p class="skill_icon" align="center">

            <img src="https://skillicons.dev/icons?i=mysql" />

          </p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 grid-item">
          <p class="skill_icon" align="center">

            <img src="https://skillicons.dev/icons?i=git" />

          </p>
        </div>
      </div>

    </section>
  </div>

  <div class="container">
    <!--Services Section -->
    <section id="services">
      <h2 class="text-center fw-bold">Services</h2>
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <img class="card-img-top" src="/assets/design.jpg" width="95%" height="250px" alt="">
            <div class="card-body">
              <h3 class="card-title">Web Design</h3>
              <p class="card-text"> I create visually appealing, responsive, and user-friendly websites using modern
                design principles and the latest technologies. My designs focus on aesthetics, usability, and seamless
                user experience.</p>

            </div>
          </div>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <img class="card-img-top" src="/assets/develop.jpg" width="95%" height="250px" alt="">
            <div class="card-body">
              <h3 class="card-title">Web Development</h3>
              <p class="card-text">I develop high-performance, scalable, and secure websites using the latest web
                technologies. From front-end interfaces to back-end logic, I build robust solutions tailored to your
                needs.</p>

            </div>
          </div>

        </div>

      </div>
    </section>
  </div>

  <!-- Contact Section -->
  <div class="container d-flex">
    <section id="contact">

      <h2 class="text-center">Contact Me</h2>


      <div class="cont">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <p>Feel free to reach out to me for collaborations, job opportunities, or any queries
              regarding web development. I'm always open to connecting with like-minded professionals!</p>

            <h4 class="social">Let us connect  </h4>
            <div class="contact-icons">

              <a href="https://www.linkedin.com/in/rajesh-v-285704245/" target="_blank">
                <i class="bi bi-linkedin"></i>
              </a>
              <a href="https://github.com/rajesh21754" target="_blank">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://twitter.com/yourhandle" target="_blank">
                <i class="bi bi-twitter"></i>
              </a>
              <a href="https://facebook.com/yourprofile" target="_blank">
                <i class="bi bi-facebook"></i>
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12  col-md-6 col-lg-6">
            <form action="#">


              <input type="text" class="form-control" id="name" placeholder="NAME">


              <input type="email" class="form-control" id="email" placeholder="EMAIL">


              <textarea class="form-control" id="message" placeholder="MESSAGE" rows="3"></textarea>

              <button type="submit" class="submit btn btn-primary">SUBMIT</button>
            </form>
          </div>
        </div>

      </div>

      </section>
      
    
  </div>

  <div class="container-fluid">
    <button id="backbtn" class="btn"><a href="#"><i class="bi bi-arrow-up-circle"></i> &nbsp; &nbsp;BACK TO
        TOP</a></button>
    </div>



  <section id="footer">

    <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-square"
        viewBox="0 0 16 16">
        <path
          d="M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512" />
        <path
          d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
      </svg> CopyRights</p>
  </section>

</body>