

@font-face {
    
    src: url('assets/fonts/FontsFree-Net-Lastica.ttf') format('truetype');
    font-family: 'League Spartan';
    font-weight: bold;
 
  }
  
  /* Apply the font globally */
  body {
    font-family: 'League Spartan', sans-serif;
  }
  